
/** Container for displaying diffs */
.DiffList {

}

/** the full text for the current iteration */
.DiffList .full_text {

}

/** The diff operations */
.DiffList .changes {
    white-space: pre;
}
